.d-md-none.p-4.notification 
    p.fw-bold 4-5 октября в Пензе состоится XIX Всероссийский съезд Уполномоченных по правам ребенка в РФ, посвященный вопросам защиты прав детей-инвалидов и детей с ограниченными возможностями здоровья.