mixin subscription(img)
    .d-flex.subscription.flex-column.flex-md-row
            img(src="./images/img-sub.png", alt="" class={"d-none": img}).me-md-4.mb-4.mb-md-0
            form(action="#")
                .row.gy-4 
                    h3.col-12(class={"text-primary": !img}).subscription__title Подписаться на новости
                    .col-12.col-md-6.subscription__input
                        label.form-label(for="first") Label
                        input.form-control(type="text" placeholder="Placeholder" aria-label="first") 
                    .col-12.col-md-6.subscription__input
                        label.form-label(for="second") Label
                        input.form-control(type="text" placeholder="Placeholder" aria-label="second")
                    .col-12.subscription__input         
                        label.form-label(for="third") Label
                        textarea.form-control(id="third" rows="2" placeholder="Placeholder")
                    .col.d-flex.justify-content-end.subscription__input
                        .btn.subscription-btn.py-2.py-md-3.px-md-4.px-2 Отправить