@font-face {
    font-weight: 700;
    font-family: "GolosText Bold";
    font-style: normal;
    src: url("./fonts/GolosText-Bold.ttf");
  }
  

  
  @font-face {
    font-weight: 400;
    font-family: "GolosText Regular";
    font-style: normal;
    src: url("./fonts/GolosText-Regular.ttf");
  }