@import "fonts";

$bold: "GolosText Bold";
$regular: "GolosText Regular";

* {
    margin: 0;
    padding: 0;
  
    border: 0;
    outline: 0;
  }
  
body {
    font-size: 14px;
    line-height: 18px;
    font-family: $regular;
    color: #132141;

    @media (min-width: 576px) {
        font-size: 16px;
        line-height: 22px;
    }
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-family: $bold;

    @media (min-width: 576px) {
        font-size: 56px;
        line-height: 68px;
    }
}

h2 {
    font-size: 18px;
    line-height: 24px;
    font-family: $bold;

    @media (min-width: 576px) {
        font-size: 44px;
        line-height: 56px;
    }
}

h3 {
    font-size: 14px;
    line-height: 18px;
    font-family: $bold;

    @media (min-width: 576px) {
        font-size: 20px;
        line-height: 32px;
    }
}

.wrapper {
    width: 100%;
    padding: 0 16px;
    padding-bottom: 64px;

    @media (min-width: 576px) {
        max-width: 1020px;
        margin: 0 auto;
        padding: 0 5px;
        padding-bottom: 80px;
    }
}

.subscription {
    padding: 20px;
    margin: 30px 0;
    background: #F3F6FA;
    border-radius: 8px;

    @media (min-width: 576px) {
        padding: 40px;
        margin: 40px 0;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
    }

    &-btn {
        background: #10BD99;
        border-radius: 8px;
        width: 100%;

        @media (min-width: 576px) {
            width: max-content;
        }
    }

    &__input {
        & label {
            font-size: 14px;
        }
        & input, textarea {
            padding: 12px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

}

.text_green {
    color: #10BD99;
}

.mb-40 {
    margin-bottom: 40px;
}
