include components/subscription

doctype html
html(lang="en").h-100
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="app.css")
    body.h-100
        .wrapper
            include components/header.pug
            include components/description.pug
            +subscription(true)
            include components/region.pug
            include components/accreditation.pug
            +subscription(false)
